@import 'sass/variables';
*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:$color-light;
    &:hover{
        color: $color-dark;
    }
}
body{
    font-family: 'Sofia Sans Condensed';
}

.navbar{
    background-color: $color-dark;
    position:fixed;
    width:100%;
    .menu-main{
        display:flex;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        align-items: center;
        @media (min-width: 768px){
            align-items: center;
            max-width: 1200px;
            margin: auto;
        }
        .navbar-logo{
            margin-right:auto;

        }
        .menu-icon{
            @media (min-width: 768px){
                display: none;
            }
            &.exit{
                .line{
                    &:first-child{
                        transform: rotate(45deg) translate(5px,0px);
                    }
                    &:nth-child(2){
                        display:none;
                    }
                    &:last-child{
                        transform:rotate(-45deg) translate(5px, 0px);
                    }
                }
            }
            .line{
            background-color: $color-light;
            width:25px;
            height:2px;
            display:block;
            margin: 5px 0;
            transition:0.2s;
            }

        }
        .menu-list{
            list-style: none;
            flex:0 0 100%;
            display:none;
            @media (min-width: 768px){
                display: flex;
                justify-content: space-between;
                flex: 0 0 60%;
            }
            &.active{
                display:flex;
                height:100vh;
                flex-wrap: wrap;
                align-content: center;
                @media (min-width: 768px){
                    height: initial;
                }
            }
            .menu-item{
                flex:0 0 100%;
                text-align: center;
                padding:1rem 0;
                @media (min-width: 768px){
                    padding: 0;
                    flex: 0 0 auto;
                }
            }
        }
    }
}
section{
    height:100vh;
    background-color: $primary-color;
}